//General styles
body {
  background-color: black;
  color:azure;
}

//delete link style
a, a:link, a:visited, a:focus, a:hover, a:active{
  color:azure;
  text-decoration:none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  margin-top: 20px;
  width: 400px;
}